{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'movie-view',
    'movie-view-' ~ id|clean_class,
    'movie-view-id-' ~ id,
    'movie-view-display-id-' ~ display_id,
    dom_id ? 'js-movie-view-dom-id-' ~ dom_id,
  ]
%}

{% set movie_title = node.field_movie_title.value %}
{% set movie_image = node.field_movie_poster.entity.fileuri %}
{% set movie_sypnosis = node.field_movie_sypnosis.value %}


<div{{ attributes.addClass(classes) }}>

  <a href="{{ url }}">read more</a>

  {% if movie_title %}
      <h2>{{ movie_title }}</h2>
  {% endif %}

  {% if movie_image %}
      <img src={{ file_url(movie_image) }} class="movie-img">
  {% endif %}

  {% if movie_sypnosis %}
      <blockquote class="movie-sypnosis">
          {{ movie_sypnosis|raw  }}
      </blockquote>
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}
</div>
